<div *ngIf="(periodical$ | async) as periodical" class="d-flex justify-content-between m-5">
    <h2>{{ periodical.title }}</h2>

    <ng-container *ngTemplateOutlet="(isSubscribed$ | async) ? unsub : sub"></ng-container>
    <ng-template #sub>
        <button mat-raised-button color="primary" (click)="subscribe()">
            Subscribe&nbsp;
            <mat-icon [inline]="true">done</mat-icon>
        </button>
    </ng-template>
    <ng-template #unsub>
        <button mat-button color="primary" (click)="unsubscribe()">
            Unsubscribe&nbsp;
            <mat-icon [inline]="true">close</mat-icon>
        </button>
    </ng-template>
</div>

<div>
    <mat-list>
        <mat-list-item><b>Subscribers:</b></mat-list-item>
        <mat-list-item *ngFor="let user of subscribers$ | async; index as i">
            {{i + 1}}. {{user.firstName}} {{user.lastName}}
        </mat-list-item>
    </mat-list>
</div>

<div>
    <mat-form-field appearance="fill">
        <mat-label>Select a circulation</mat-label>
        <mat-select [(value)]="selected">
            <mat-option *ngFor="let circulation of (circulations$ | async)" [value]="circulation">
                {{ circulation.id }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <p>You selected: {{selected | json}}</p>

    <app-circulation [data]="selected"></app-circulation>
</div>